@import "tailwindcss";

@theme {
  --color-green-50: #f0f9f0;
  --color-green-100: #dcf3dc;
  --color-green-200: #b9e6b9;
  --color-green-300: #8fd48f;
  --color-green-400: #5aba5a;
  --color-green-500: #3a9f3a;
  --color-green-600: #2c7c2c;
  --color-green-700: #236523;
  --color-green-800: #1c501c;
  --color-green-900: #184218;    
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
